body {
  padding: 15px;
  height: fit-content;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.floating {
  float: left;
  width: 50%;
  padding: 10px;
  height: 450px; /* Should be removed. Only for demonstration */
}

.divider {
  margin: 2px 2px 10px 0;
  border-top: 2px solid #bbb;
  border-radius: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.dataRow {
  justify-content: space-evenly;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 500;
}

.frame-item {
  margin: 2px 0 2px 0;
}

.frame {
  border-left: 4px solid grey;
  padding-left: 5px;
  background-color: rgba(128, 128, 128, 0.2);
}

.current-frame {
  border-left: 4px solid blue;
  padding-left: 5px;
  background-color: rgba(77, 100, 255, 0.2);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  padding: 10px;
  border: 1px solid wheat;
  background-color: grey;
}