body {
  padding: 15px;
  height: fit-content;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.floating-right {
  float: right;
  width: 65%;
  padding: 10px;
  min-height: 450px;
  max-height: 90%;
}

.floating-left {
  float: left;
  width: 35%;
  padding: 10px;
  max-height: 90%;
  min-height: 450px;
  margin-right: 100px;
}

.scrollable {
  overflow: scroll;
}

.current-line-color {
  border: 6px solid rgba(44, 199, 85, 1);
  border-radius: 8px;
  background-color: rgba(44, 199, 85, 1);
}

.next-line-color {
  border: 6px solid rgba(255, 255, 0, 1);
  border-radius: 8px;
  background-color: rgba(255, 255, 0, 1);
}

.divider {
  margin: 2px 2px 10px 0;
  border-top: 2px solid #bbb;
  border-radius: 5px;
}

.margin-vertical {
  margin-top: 3px;
  margin-bottom: 3px;
}

.margin-horizontal {
  margin-left: 3px;
  margin-right: 3px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.name-border {
  width: 50%;
  font-size: 16px;
  margin-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.value-border {
  width: 50%;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 16px;
  border-bottom: 1.5px solid grey;
  border-left: 1.5px solid grey;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dataRow {
  justify-content: space-evenly;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 500;
}

.frame-item {
  margin: 3px 0 3px 0;
  justify-content: flex-end;
}

.frame {
  border-left: 4px solid grey;
  padding-left: 5px;
  background-color: rgba(128, 128, 128, 0.2);
}

.current-frame {
  border-left: 4px solid blue;
  padding-left: 5px;
  background-color: rgba(77, 100, 255, 0.2);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  color: white;
  border: 1px solid rgba(109, 89, 89, 1.0);
  background-color: rgba(69, 69, 69, 0.5);
}

.box-content-top {
  margin: 2px 2px 2px 5px;
  color: grey;
}

.box-content-bottom {
  margin: 10px 15px 10px 15px;
}

.box-content-dict {
  padding: 10px 15px 10px 15px;
  max-width: 100px;
  min-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.object-intendation {
  margin-left: 65px;
}

.object-item {
  margin-bottom: 15px;
}
